body {
  background-color: darkGrey;
}

.square {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: red;
  animation: rotate 5s linear 0s infinite alternate;
}

@keyframes rotate {
  from {
    background-color: red;
    transform: rotateY(0deg);
  }
  to {
    background-color: blue;
    transform: rotateY(360deg);
  }
}
