body {
  background-color: darkGrey;
}
.square {
  width: 400px;
  height: 400px;
  background-color: red;
  animation: rotate 5s linear 2s infinite alternate;
}

@keframes rotate {
  0% {transform: rotateX(0deg)}
100% {transform: rotateX(360deg)}
}
