body {
  background-color: darkGrey;
}

.square {
  width: 400px;
  height: 400px;
  background-color: red;
  animation: rotate 5s linear infinite alternate;
}

@keframes rotate {
  from {transform: rotateX(0deg);}
  to {transform: rotateX(360deg);}
}
